.container {
  padding: 0.2em;
}

.container.list {
  width: 100%;
}

.container.grid {
  width: 50%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  transition: transform 200ms ease-in;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.thumbnails {
  width: 40%;
  height: 100%;
}

.metadata {
  margin-left: 0.2em;
}

.videoTitle,
channelTitle {
  margin: 0;
}

.videoTitle {
  font-size: 0.7rem;
}

.channelTitle {
  font-size: 0.6rem;
}
