/*  desktop version */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
.header {
  width: 100vw;
  height: 4rem;
  background-color: black;
  border: 1px solid black;
}

.logo {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
}

.logoText {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0.6em;
}

.search {
  width: 40rem;
  height: 2.2rem;
  font-size: 1.1rem;
  padding-left: 0.3em;
  outline: 0;
}

.search::placeholder {
  color: grey;
  font-size: 1.1rem;
}

.search:focus::placeholder {
  opacity: 0;
}

.containerBtn {
  width: 3rem;
  height: 2.5rem;
  margin: 0;
  border: solid 1px #423f3e;
}

button {
  cursor: pointer;
}

.searchBtn {
  outline: 0;
  border: 0;
  background-color: #2b2b2b;
  width: inherit;
  height: inherit;
  margin-left: 0.07px;
}

.searchIcon {
  width: 1.2rem;
  height: 1.2rem;
}

/*  tablet version */
@media screen and (max-width: 1023px) {
  .header {
    box-sizing: border-box;
    width: 100vw;
    height: 3rem;
    background-color: black;
    border: 1px solid black;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 2em;
  }

  .logo {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
  }

  .logoText {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0.6em;
  }

  .search {
    width: 25rem;
    height: 1.5rem;
    font-size: 0.8rem;
    outline: 0;
  }

  .search::placeholder {
    color: grey;
    font-size: 0.8rem;
  }

  .search:focus::placeholder {
    opacity: 0;
  }

  .containerBtn {
    display: flex;
    width: 2rem;
    height: 1.8rem;
    margin: 0;
    border: solid 1px #423f3e;
  }

  button {
    cursor: pointer;
  }

  .searchBtn {
    outline: 0;
    border: 0;
    background-color: #2b2b2b;
  }

  .searchIcon {
    width: 0.8rem;
    height: 0.8rem;
  }
}
/* mobile version */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
  }

  .header {
    box-sizing: border-box;
    width: 100vw;
    height: 2rem;
    background-color: black;
    border: 1px solid black;
  }

  .logo {
    display: flex;
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
  }

  .logoText {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .search {
    width: 15rem;
    height: 1rem;
    font-size: 0.6rem;
    outline: 0;
  }

  .search::placeholder {
    color: grey;
    font-size: 0.3px;
  }

  .search:focus::placeholder {
    opacity: 0;
  }

  .containerBtn {
    display: flex;
    width: 1.5rem;
    height: 1.1rem;
    margin: 0;
    border: solid 1px #423f3e;
  }

  button {
    cursor: pointer;
  }

  .searchBtn {
    outline: 0;
    border: 0;
    background-color: #2b2b2b;
  }

  .searchIcon {
    width: 0.5rem;
    height: 0.5rem;
  }
}
